* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 100%, 74%);
  background-image: url(./images/bg-intro-desktop.png);
  font-family: 'Poppins';
  
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
  grid-template-rows: 30% 70%;
  grid-gap: 20px;
  width: 80%;
  height: 80vh;
  position: absolute;
  left: 10%;
  
}

.description {
  grid-column: 1/2;
  grid-row: 2/3;
  color: white;
  font-size: 16pt;
  line-height: 1.6;
}

.para1 {
  font-size: 12pt;
  padding-top: 30px;
}

.button {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: end;
}

.buttonform {
  align-self: end;
  width: 100%;
  background-color: hsl(248, 32%, 49%);
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 1rem;
  border-style: none;
  text-align: center;
}

.signup {
  background-color: whitesmoke;
  grid-column: 2/3;
  grid-row: 2/3;
  border-radius: 1rem;
  padding-left: 40px;
  
}

.sign {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  margin-top: 20px;
  

}

.grnbtn {
  background-color: hsl(154, 59%, 51%);
  color: white;
  width: 90%;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border-style: none;
  justify-self: center;
}

.para2 {
  font-size: 8pt;
  color: hsl(249, 10%, 26%);
  margin-top: 10px;
  text-align: center;
}

b {
  color:hsl(0, 90%, 37%);
}


@media (max-width: 375px) {
  .wrapper {
      display: flex;
      flex-direction: column;
  }
}

@media screen and (max-width: 375px) {
  body {
      background-image: url(./images/bg-intro-mobile.png);
  }
}










